<%= simple_form_for(@calculate) do |f| %>
  <% if @calculate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@calculate.errors.count, "error") %> prohibited this calculation from being saved:</h2>

      <ul>
      <% @calculate.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-inputs">
    <%= f.input :product_id, :as => :hidden  %>
    <%= f.input :qty, label: 'Cantidad ', autofocus: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Calcular" %>
  </div>
<% end %>

<br><br>

<!-- Tabla de guia de multiplos -->
<div class="panel panel-default">
	<div class="panel-heading">Recuerda que debes introducir múltiplos de <%= @calculate.product.number_of_blisters_per_box*@calculate.product.number_of_units_per_blister %>
	</div>

	<div class="panel-body">
			<table class="table">
		<tr>
			<th>Cantidad de cajillas</th>
			<th>Cantidad de <%= @calculate.product.shape %>s </th>
		</tr>

		<tr>
			<td>1</td>
			<td><%= @calculate.product.number_of_blisters_per_box*@calculate.product.number_of_units_per_blister %></td>
		</tr>
		<tr>
			<td>2</td>
			<td><%= 2*@calculate.product.number_of_blisters_per_box*@calculate.product.number_of_units_per_blister %></td>
		</tr>
		<tr>
			<td>3</td>
			<td><%= 3*@calculate.product.number_of_blisters_per_box*@calculate.product.number_of_units_per_blister %></td>
		</tr>
		<tr>
			<td>...</td>
			<td>...</td>
		</tr>
		<tr>
			<td>n</td>
			<td>n * <%= @calculate.product.number_of_blisters_per_box*@calculate.product.number_of_units_per_blister %></td>
		</tr>

	</table>

	</div>
</div>

