<div class="container">

	<div class="panel panel-default">
		<div class="panel-heading">
			Para fabricar <%= number_with_precision(@calculate.qty, precision: 0, delimiter: ',') %> <%= @calculate.product.shape %>s de <a href="/products/<%= @calculate.product_id %>"><%= @calculate.product.name %></a> se necesitan
		</div>
		<div class="panel-body">
			<!-- Tabla de Componentes -->
			<div>
			  <table class="table">
			  <tr>
			    <th>Material</th>
			    <th>Clave</th>
			    <th>Cantidad</th>
			  </tr>

			  <!--Materia Prima -->
			  <tr class= "success">
			    <th>Materia Prima</th>
			    <th></th>
			    <th></th>
			  </tr>

			  <% @components_materia_prima.each do |component| %>
			    <tr>
			      <td><a href="/ingredients/<%= component.ingredient_id %>"><%= component.ingredient.name %></a>
			      	<% if (component.qty * @calculate.qty) > component.ingredient.stock %>
			      		<span class="badge alert-danger">
			      			<% if component.ingredient.unit == "mg"  %>
			      				Faltan <%= number_to_human((component.qty * @calculate.qty) - component.ingredient.stock, units:{unit:"mg", thousand:"g", million:"Kg"})  %>
			      			<% else %>
			      				Faltan <%= (component.qty * @calculate.qty) - component.ingredient.stock  %> <%= component.ingredient.unit %>es
			      			<% end %>
			      		</span>
			      	<% end %>
			      </td>
			      <td><%= component.ingredient.external_id %></td>
			      <td>
			      	<% if component.ingredient.unit == "mg"  %>
			    		<%= number_to_human(component.qty * @calculate.qty, units:{unit:"mg", thousand:"g", million:"Kg"})  %>
			      	<% else %>
			      		<%= component.qty * @calculate.qty %> <%= component.ingredient.unit %>es
			      	<% end %>
			      </td>
			    </tr>
			  <% end %>

			  <!--Materiales de Empaque Primarios -->
			  <tr class= "info">
			    <th>Materiales de Empaque Primarios</th>
			    <th></th>
			    <th></th>
			  </tr>

			  <% @components_material_empaque_primario.each do |component| %>
			    <tr>
			      <td><a href="/ingredients/<%= component.ingredient_id %>"><%= component.ingredient.name %></a>
			      	<% if (component.qty * @calculate.qty) > component.ingredient.stock %>
			      		<span class="badge alert-danger">
			      			<% if component.ingredient.unit == "mg"  %>
			      				Faltan <%= number_to_human((component.qty * @calculate.qty) - component.ingredient.stock, units:{unit:"mg", thousand:"g", million:"Kg"})  %>
			      			<% else %>
			      				Faltan <%= (component.qty * @calculate.qty) - component.ingredient.stock  %> <%= component.ingredient.unit %>es
			      			<% end %>
			      		</span>
			      	<% end %>
			      </td>
			      <td><%= component.ingredient.external_id %></td>
			      <td>
			      	<% if component.ingredient.unit == "mg"  %>
			    		<%= number_to_human(component.qty * @calculate.qty, units:{unit:"mg", thousand:"g", million:"Kg"})  %>
			      	<% else %>
			      		<%= component.qty * @calculate.qty %> <%= component.ingredient.unit %>es
			      	<% end %>
			      </td>
			    </tr>
			  <% end %>

			  <!--Materiales de Empaque Secundarios -->
			  <tr class= "warning">
			    <th>Materiales de Empaque Secundarios</th>
			    <th></th>
			    <th></th>
			  </tr>

			    <% @components_material_empaque_secundario.each do |component| %>
			      <tr>
			        <td><a href="/ingredients/<%= component.ingredient_id %>"><%= component.ingredient.name %></a>
				      	<% if (component.qty * @calculate.qty) > component.ingredient.stock %>
				      		<span class="badge alert-danger">
				      			<% if component.ingredient.unit == "mg"  %>
				      				Faltan <%= number_to_human((component.qty * @calculate.qty) - component.ingredient.stock, units:{unit:"mg", thousand:"g", million:"Kg"})  %>
				      			<% else %>
				      				Faltan <%= number_with_precision((component.qty * @calculate.qty) - component.ingredient.stock, precision: 0, delimiter: ',') %> <%= component.ingredient.unit %>es
				      			<% end %>
				      		</span>
				      	<% end %>
			        </td>
			        <td><%= component.ingredient.external_id %></td>
			        <td>
			        <% if component.ingredient.unit == "mg"  %>
			    		<%= number_to_human(component.qty * @calculate.qty, units:{unit:"mg", thousand:"g", million:"Kg"})  %>
			      	<% else %>
			      		<%= number_with_precision(component.qty * @calculate.qty, precision: 0, delimiter: ',') %> <%= component.ingredient.unit %>es


			      	<% end %>
			        </td>
			      </tr>
			    <% end %>


			  </table>
			</div>
		</div>

		<div class="panel-footer">
			<a href="/calculates/<%= @calculate.id %>/edit" class="btn btn-default">Editar cálculo</a>
		</div>
	</div>
</div>
