<%= simple_form_for(@ingredient) do |f| %>
  <% if @ingredient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ingredient.errors.count, "error") %> prohibited this ingredient from being saved:</h2>

      <ul>
      <% @ingredient.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-inputs">
    <%= f.input :name, label: 'Material', required: true, autofocus: true %>
    <%= f.input :unit, label: 'Unidad', collection: [ "unidad","mg"], required: true  %>

    <%= f.input :stock, label: 'Stock', required: true  %>

  
    <%= f.input :external_id, label: 'Clave', required: true  %>
    <%= f.input :material_type, label: 'Tipo', collection: ["Materia Prima", "Material Empaque 1o", "Material Empaque 2o"], required: true  %>
    <%= f.input :active_or_excipient, label: 'Activo o Excipient (Si aplica)', collection: ["A","X","-"], required: true  %>
    <%= f.input :description, label: 'Descripcion' %>

  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Guardar' %>
  </div>
<% end %>


  