<div class="container">
  
<!-- Encabezado -->
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
    <h3><%= @product.name %></h3>
    <a href="/products/<%= @product.id%>/edit" class="btn btn-default">Editar</a>
    <a href="/add_component_to_product/<%= @product.id%>" class="btn btn-default">Agregar Material</a>
    <% if @product.average_weigth == 0 %>
      <a href="/calculate_new/<%= @product.id%>" class="btn btn-default disabled">Calcular Orden de Fabricación</a>
      <span class="badge alert-danger">Primero debes agregar materiales</span>
    <% else %>
      <a href="/calculate_new/<%= @product.id%>" class="btn btn-default">Calcular Orden de Fabricación</a> 
    <% end %> 
  </div>
  
  <div class="panel-body">
    <div class="row">

      <!-- Atributos del producto -->
      <div class="col-md-4">  
        <ul class="list-group">
          <li class="list-group-item">Forma: <%= @product.shape %></li>
          <li class="list-group-item">Peso promedio: <%= @product.average_weigth %> <%= @product.unit %> por <%= @product.shape %></li>
          <li class="list-group-item">Número de blisters por cajilla: <%= @product.number_of_blisters_per_box %></li>
          <li class="list-group-item">Número de <%= @product.shape %>s por blister: <%= @product.number_of_units_per_blister %></li>

          <% if not(@product.number_of_blisters_per_box.nil?) && not(@product.number_of_units_per_blister.nil?) %>

          <li class="list-group-item">Número de <%= @product.shape %>s por cajilla: <%= @product.number_of_blisters_per_box*@product.number_of_units_per_blister %></li>
  
          <% end %>
          
          
        </ul>
      </div>

      <!-- Maximos a producir -->
      <div class="col-md-4">
        <ul class="list-group">
          <li class="list-group-item disabled">Maximos a producir:</li>
          <li class="list-group-item"><%= @product.max_units_to_produce %> cajillas</li>
          <li class="list-group-item"><%= @product.max_units_to_produce * 
                                          @product.number_of_blisters_per_box *
                                          @product.number_of_units_per_blister %> <%= @product.shape %>s</li>
          <li class="list-group-item"><%= number_to_human(
                                              @product.max_units_to_produce * 
                                              @product.number_of_blisters_per_box *
                                              @product.number_of_units_per_blister *
                                              @product.average_weigth, units: {unit: "mg", thousand: "gr", million: "Kg"})%></li>
          <li class="list-group-item">Producción limitada por: <%= @product.production_limited_by %></li>

        </ul>
      </div>

      <!-- Parametros de Produccion
      <div class="col-md-4">
        <ul class="list-group">
          <li class="list-group-item disabled">Parametros de produccion:</li>
          <li class="list-group-item">Punzon: mm</li>
          <li class="list-group-item">Golpes por blister por minuto:</li>
          <li class="list-group-item">Blisters por golpe:</li>
          <li class="list-group-item">Blister por hora:</li>
          <li class="list-group-item">Horas Blister:</li>
        </ul>
      </div> -->
    </div>

     
  </div>

<div class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <strong>Ojo!</strong> Para preparar 1 <%= @product.shape %> de <%= @product.name %> se necesitan los siguientes materiales. <br><br>
  <p>Para el caso de los materiales de empaque secundarios como por ejemplo una cajilla, deberás dividir 1 entre la cantidad de <%= @product.shape %>s por cajillas. Por ejemplo: si la cajilla lleva 30 unidades deberás ingresar 1/30 => "0.03"</p>
  
</div>


<!-- Tabla de Componentes -->
<div>
  <table class="table">
  <tr>
    <th>Material</th>
    <th>Clave</th>
    <th>Cantidad</th>
    <th>Unidad</th>
    <th></th>
    <th></th>
  </tr>

  <!--Materia Prima -->
  <div>
    <tr class= "success">
      <th>Materia Prima</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

    <% @components_materia_prima.each do |component| %>
      <tr>
        <td><a href="/ingredients/<%= component.ingredient_id %>"><%= component.ingredient.name %></a></td>
        <td><%= component.ingredient.external_id %></td>
        <td><%= component.qty %></td>
        <td><%= component.ingredient.unit %></td>
        <td><%= link_to 'Editar', edit_component_path(component) %></td>
        <td><%= link_to 'Eliminar', component, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </div>

  <!--Materiales de Empaque Primarios -->
  <div>
    <tr class= "info">
      <th>Materiales de Empaque Primarios</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

    <% @components_material_empaque_primario.each do |component| %>
      <tr>
        <td><a href="/ingredients/<%= component.ingredient_id %>"><%= component.ingredient.name %></a></td>
        <td><%= component.ingredient.external_id %></td>
        <td><%= component.qty %></td>
        <td><%= component.ingredient.unit %></td>
        <td><%= link_to 'Editar', edit_component_path(component) %></td>
        <td><%= link_to 'Eliminar', component, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </div>

  <!--Materiales de Empaque Secundarios -->
  <div>
    <tr class= "warning">
      <th>Materiales de Empaque Secundarios</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

      <% @components_material_empaque_secundario.each do |component| %>
        <tr>
          <td><a href="/ingredients/<%= component.ingredient_id %>"><%= component.ingredient.name %></a></td>
          <td><%= component.ingredient.external_id %></td>
          <td> <% if component.qty < 1 %>
            <%= component.qty.to_r %>
          <% else %>  
            <%= component.qty %>
          <% end %>
            



          </td>
          <td><%= component.ingredient.unit %></td>
          <td><%= link_to 'Editar', edit_component_path(component) %></td>
          <td><%= link_to 'Eliminar', component, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
  </div>

  </table>
</div>
